<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Hair Trend Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/style.css">
  </head>
<header>
	  <nav class="navbar navbar-default">
  	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Hair Trend Analysis</a>
    </div>
       
    </div>
  </nav>
</header>
  <body>
<div class="container">
Most popular hair style trends are of
{% for i in popular %}
 
<h3>{{ i }}</h3>
{% endfor %}
 
</div>
  </body>

	<script type="text/javascript" src="/site_media/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script> 

</html>